@import "libs/_bootstrap-reboot.min"
@import "libs/_fonts"
@import "libs/_slick"

@import "base/_variables"
@import "base/_mixins"

*
    box-sizing: border-box
    font-family: 'Roboto', sans-serif
    margin: 0
    padding: 0

.container
    position: relative
    max-width: 1140px
    margin: 0 auto

@import "blocks/_promo"
@import "blocks/_header"
@import "blocks/_button"
@import "blocks/_advantages"
@import "blocks/_title"
@import "blocks/_work"
@import "blocks/_agent"
@import "blocks/_price"
@import "blocks/_forms"
@import "blocks/_manager"
@import "blocks/_plan"
@import "blocks/_carousel"
@import "blocks/_question"
@import "blocks/_map"
@import "blocks/_footer"
@import "blocks/_media"