.price-form
    margin: 0 auto
    input
        width: 265px
        height: 44px
        border-radius: 22px
        margin: 0 3px
        line-height: 42px
        font-size: 14px
        padding: 0 20px
        border: 1px solid #898989
.question__form
    max-width: 896px
    min-height: 228px
    background-color: rgba(255, 255, 255, 0.7)
    padding: 18px 41px 25px 41px
.question__in
    width: 268px
    height: 44px
    background-color: #ffffff
    border: none
    border-radius: 22px
    opacity: 1
    padding: 0 20px
.question__tx
    width: 813px
    height: 71px
    background-color: #ffffff
    border: none
    margin-top: 8px
    padding: 0 20px
