.header
    height: 100px
    display: flex
    justify-content: space-between
    align-items: center
    div
        width: 96px
        height: 100px
    &__img
        width: 100%
    nav
        margin-left: 55px
    &__menu
        max-width: 600px
        display: flex
        justify-content: space-between
        padding: 38px 0px
        margin: 0
        list-style-type: none
    &__item
        border-right: 1px dotted #ffffff
        padding-right: 13px
        margin-right: 13px
        &:last-child
            border-right: none
            margin-right: 0
            padding-right: 0
    &__link
        font-family: Roboto
        font-size: 15px
        line-height: 15px
        font-weight: 400
        color: #ffffff
        cursor: pointer
        &:hover
            color: $main-color
    &__contact
        display: none
    &__contacts
        min-width: 163px
        text-align: right
        font-family: Roboto
        font-size: 14px
        line-height: 14px
        font-weight: 300
        color: #ffffff
        margin-top: 60px
        margin-left: 50px
        a
            display: block
            font-family: Roboto
            font-size: 19px
            line-height: 19px
            font-weight: 700
            color: #ffffff
            text-align: right
            margin-top: 5px
            &:hover
                color: #ffffff
                text-decoration: none
    &__hamburger
        display: none

        