.question
    min-height: 438px
    padding: 62px 0 79px 0
    background: url("../img/down_bg.jpg") center center/cover no-repeat
    &__wrapper
        margin: 0 auto
        max-width: 896px
        min-height: 300px
    &__item
        padding: 18px 0 
        width: 896px
        height: 68px
        background-color: #25333c
    &__subtitle
        font-family: Roboto
        font-size: 14px
        line-height: 14px
        font-weight: 400
        text-transform: uppercase
        color: #ffffff
        text-align: center
        margin-top: 3px

