.work
    padding: 51px 0 57px
    hr
        width: 148px
        margin: 20px auto 17px auto
        border: none
        border-top: 1px solid $main-color
    &__subheader
        font-size: 21px
        line-height: 24px
        margin: 0 130px
        font-weight: 300
        color: #2e2e2e
        text-align: center
    &__wrapper
        margin-top: 7px
        display: flex
        flex-wrap: wrap
        justify-content: center
    &__item
        max-width: 360px
        margin-right: 30px
        margin-top: 30px
        &:nth-child(3)
            margin-right: 0
    &__img
        width: 100%
    &__subtitle
        font-size: 18px
        line-height: 18px
        font-weight: 700
        color: $main-color
        margin-top: 28px
        text-align: center
    &__descr
        margin-top: 16px
        font-size: 14px
        font-weight: 300
        color: #3a3a3a
        text-align: center